# parfile to be used for maths_fits_image.f code
/home/wasim/Desktop/CURR_DEVEL/IAU_BEIJING/WORK/ ; path to in-data 
MY_CASA.RLC.LPOL.RM0.FITS                    ; image-1
MY_CASA.ICL001.1.RLCOR.FITSCUBE.MEAN.FITS    ; image-2
LIN                                  ; OPTYPE: 'SUM', 'DIFF', 'MUL', 'DIV', LIN
1.0, -0.005                          ; A1, A2 for LIN: Out = I1*A1 + I2*A2
/home/wasim/Desktop/CURR_DEVEL/IAU_BEIJING/WORK/ ; path to out-data 
MY_CASA.RLC.LPOL.RM0.LEAK_RMOVED         ; outname 
ADHOC         ; outlass 
