# parfile to be used for maths_fits_image.f code
/home/wasim/THESIS/THESIS/DATA/chap5/ ; path to in-data 
MY_CASA.RLCOR.2.LINPOL_RMPLANE_0radrm2.FITS                    ; LINPOL
MY_CASA.RLCOR.2.POLANG_RMPLANE_0radrm2.FITS                    ; POLANG
/home/wasim/THESIS/THESIS/DATA/chap5/ ; path to out-data 
MY_CASA.RLCOR.2.RMPLANE_0radrm2       ; outname 

