# parfile to be used for maths_fits_image.f code
../DATA/ ; path to in-data 
MY_CASA82.NORM.FITS                    ; image-1
VLA_CASA1420.NORM.ALIGNED.FITS    ; image-2
DIFF                                  ; OPTYPE: 'SUM', 'DIFF', 'MUL', 'DIV', LIN
1.0, -0.005                          ; A1, A2 for LIN: Out = I1*A1 + I2*A2
../DATA/ ; path to out-data 
CASA_PBAND_MINUS_LBAND         ; outname 
DIFF         ; outlass 
