# Configuration file for setting up the parameters for extract_qu_data.f routines.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/CUBES/RLCOR_USING_3C345/MY_CASA/ ;   /media/GMRT_CASA/DATA/POLCAL/IMAGES/RM_CUBES/          ; PATH to DATA
MY_CASA.UCL001.1.RLCOR.FITSCUBE  ; MY_CASA.U_ONLY.RLCOR.2.RMCUBE ;  MY_CASA.RLCOR.SPEC_MEAN_REMOVED.2.RMCUBE   ; MY_CASA.RLCOR.2.RMCUBE               ; In-FITS cube
MY_CASA.UCL001.1.RLCOR.MEAN_SPECTRA ; MY_CASA.U_ONLY.RLCOR.2.RMCUBE_RMPLANE_MINUS_745  ;MY_CASA.RLCOR.SPEC_MEAN_REMOVED.2.RMPLANE_PLUS_400    ; outfile name (w/o extension -- .FITS will be auto appended)
160, 400     ; xpixbeg, xpixend
140, 380     ; ypixbeg, ypixend 
1,   236     ; zpixbeg, zpixend 
