# parfile to be used for maths_fits_image.f code
NOISE_ANALYSIS_CASA/ ; path to in-data 
MY_CASA.U_ONLY.RLCOR.2.RMCUBE.RESIDUAL.RMS.FITS  ;  JUNK3C468.1.ICL001.1.RLCOR.FITSCUBE.MEAN.FITS   ; image-1 (X)
MY_CASA.RLCOR.SPEC_MEAN_REMOVED.2.RMPLANE_PLUS_400.FITS    ; image-2 (Y)
Expected RMS (Jy/Beam) ; xlabel
Mean value (Jy/Beam)   ; Max Polflux along RM-axis      ; ylabel 
Measured Polflux at RM=-400 rad/m2 vs Expected rms ; title 
0.0, 0.0                 ; cutoff1, cutoff2: only pixels for which image(i) > cutoff will be used 
1.0                      ; scale_fac 
./                 ; path to output data 
MY_CASA.RLCOR.2.SPEC_MEAN_REMOVED.RMCUBE_FLUX_AT_RM_PLUS_400_TO_EXPECTED_RMS   ;MY_CASA.RLCOR.2.RMCUBE_FLUX_AT_RM_MINUS_400_TO_EXPECTED_RMS ; JUNK3C468.1.RLCOR.RMCUBE.POLMAX_BY_IMEAN  ; outfile name (w/o extension)

