# parfile to be used for maths_fits_image.f code
../DATA/ ; path to in-data 
VLA_CASA1420.NORM.ALIGNED.FITS   ; image-1 (X)
MY_CASA82.NORM.FITS    ; image-2 (Y)
L-Band Stokes I       ; xlabel
P-Band Stokes I       ; ylabel 
Cas A Flux/Sp Ind. Evolution Assessment  ; title 
0.3, 0.3              ; cutoff1, cutoff2: only pixels for which image(i) > xcutoff will be used 
1.0                     ; scale_fac 
./                      ; path to output data 
CASA_PBAND_TO_LBAND_RATIO ; outfile name (w/o extension) 
