# Configuration file for setting up the parameters for cube_stat.f.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/RM_CUBES/ ; PATH to DATA
MY_CASA.RLCOR.SPEC_MEAN_REMOVED.2.RMCUBE  ; MY_CASA_meanQU_removed.RLCOR.RMCUBE    ; RM-FITS cube
MY_CASA.RLCOR.SPEC_MEAN_REMOVED.2.RMCUBE  ; MY_CASA_meanQU_removed.RLCOR           ; outfile name (generic, with NO extension, several files will be written)
n                       ; whether an apriori list of bad RM-channels is to be used for rejection? (y/n)
gmrt_casa_final.burdies           ; file containing the list of BAD CHANNELS
n                       ; whether subimage of image to be used 
CASA.par                ; file containing the parameters for the subimage
n                       ; fit and remove linear trend in spectra? (y/n)
