# Configuration file for setting up the parameters for extract_qu_data.f routines.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/RM_CUBES/          ; PATH to DATA
MY_CASA.RLCOR.2.PACUBE               ; In-FITS cube
MY_CASA.RLCOR.2.POLANG_RMPLANE_5radrm2 ; MY_CASA.U_ONLY.RLCOR.2.RMCUBE_RMPLANE_MINUS_745  ;MY_CASA.RLCOR.SPEC_MEAN_REMOVED.2.RMPLANE_PLUS_400    ; outfile name (w/o extension -- .FITS will be auto appended)
5.0                                                 ; z plane value to be extracted 
./     ; outdir
