# parfile to be used for fits2silo.f code
/home/wasim/Desktop/CURR_DEVEL/IAU_BEIJING/WORK/        ; path to in-data 
MY_CASA.ICL001.1.RLCOR.FITSCUBE.MEAN.FITS               ; 1: <image-I>  (spectral) 
MY_CASA.QCL001.1.RLCOR.SPECTRALPLANE_319MHz.FITS               ; 2: <image-Q>  (spectral) 
MY_CASA.UCL001.1.RLCOR.SPECTRALPLANE_319MHz.FITS               ; 3: <image-U>  (spectral) 
MY_CASA.VCL001.1.RLCOR.FITSCUBE.MEAN.FITS               ; 4: <image-V>  (spectral) 
MY_CASA.RLC.LPOL.RM0.FITS                               ; 5: image-LP   (RM) 
MY_CASA.RLC.POLA.RM0.FITS                               ; 6: image-PA   (RM) 
MY_CASA.ICL001.1.RLCOR.FITSCUBE.RMS.FITS                ; 7: sigma-I  (spectral) 
MY_CASA.QCL001.1.RLCOR.FITSCUBE.RMS.FITS                ; 8: sigma-Q  (spectral) 
MY_CASA.UCL001.1.RLCOR.FITSCUBE.RMS.FITS                ; 9: sigma-U  (spectral) 
MY_CASA.VCL001.1.RLCOR.FITSCUBE.RMS.FITS                ;10: sigma-V  (spectral) 
MY_CASA.ICL001.1.RLCOR.FITSCUBE.THRESH.FITS             ;11: image-SNR_I    (spectral) 
CASA_0.5-1.5KEV.HGEOM.FITS ; CASA_0.5-1.5KEV.HGEOM.CONVL.FITS; CASA_0.5-1.5KEV.HGEOM.FITS                              ;12: image-X-RAY    
1                                                       ;use_filter: (1-12 above) + 13 for dLP
0.3, 2.4                                             ; min/max cutoff in I (to segregate files based on this cutoff)
/home/wasim/THESIS/THESIS/DATA/chap5/ ;/home/wasim/Desktop/CURR_DEVEL/IAU_BEIJING/WORK/RM_0/       ; path to out-data 
MY_CASA.RLC.QU.SPECTRAL_CHAN                                             ; outname 
MULTI_SCATTER                                           ; outclass 
casa                                                    ; mesh_name (SILO related)
1                                                       ; pixtype: =0 -> all pix
#                                                       ;  0 < pixtype < 2 -> I > mincutI
#                                                       ;      pixtype < 0 -> I < mincutI
#                                                       ;  1 < pixtype     -> mincutI < I < maxcutI
