# This is a cfg file for code: fits_image2ascii.f 
../DATA/                ; Path to in data
CASA_PBAND_TO_LBAND_RATIO.FITS     ; Fits file name 
./                      ; outpath 
CASA_PBAND_TO_LBAND_RATIO.FITS.TXT ; outfile name 
GMRT_P/VLA_LBAND           ; tag for the data
