# Configuration file for setting up the parameters for cube_stat.f routines.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/CUBES/RLCOR_USING_3C345/MY_CASA/ ; PATH to DATA
MY_CASA.UCL001.1.RLCOR.FITSCUBE        ; FITS cube
MY_CASA.UCL001.1.RLCOR                 ; outfile name (generic, with NO extension, several files will be written)
y                                      ; whether an apriori list of bad channels is to be used for rejection? (y/n)
gmrt_casa_final.burdies                ; file containing the list of BAD CHANNELS
n                                      ; whether subimage of image to be used 
CASA.par                               ; file containing the parameters for the subimage
