# Configuration file for setting up the parameters for extract_qu_data.f routines.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/CUBES/  ; PATH to DATA
3C303.QCL001.1.FITSCUBE    ; Q-FITS cube
3C303.UCL001.1.FITSCUBE    ; U-FITS cube
3C303_norlcor                         ; outfile name (generic, with NO extension, several files will be written)
y                            ; whether an apriori list of bad channels is to be used for rejection? (y/n)
gmrt_casa_final.burdies      ; file containing the list of BAD CHANNELS
y
3C303.par                    ; file containing the parameters for the subimage
