# parfile to be used for maths_fits_image.f code
/media/GMRT_CASA/DATA/PROCESSED_DATA/SELFCAL_NOPOLCAL.16SEC/MY_CASA/IMAGES_512X512_ALL_STOKES_AUTOFLAG/ ; path to in-data 
/media/GMRT_CASA/DATA/WORK/PCAL_ADHOC/IMAGES/ ; path to out-data 
MY_CASA          ; src tag 
ICL001.1         ; I-tag 
QCL001.1         ; Q-tag 
UCL001.1         ; U-tag 
VCL001.1         ; V-tag 
FITS             ; Extesion 
1, 236           ; bchan, echan 
1                ; pix-type(integer): if 0, correct all, if >0, correct only pixels for which I > thresh_I and ZERO the rest, if < 0 correct only pixels for which I < thresh_I and ZERO the rest. 
fits           ; add_req: nofits for no output FITS file  
0.05              ; I-thresh: In computing the statistic, use only significant pixels "within" CasA. Units of I-thresh is same as in map. 
