# Configuration file for setting up the parameters for extract_qu_data.f routines.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/CUBES/RLCOR_USING_3C345/3C48/   ; PATH to DATA
3C48.QCL001.1.RLCOR.FITSCUBE    ; Q-FITS cube
3C48.UCL001.1.RLCOR.FITSCUBE    ; U-FITS cube
3C48.RLCOR                         ; outfile name (generic, with NO extension, several files will be written)
y                            ; whether an apriori list of bad channels is to be used for rejection? (y/n)
gmrt_casa_final.burdies      ; file containing the list of BAD CHANNELS
n                            ; whether subimage of image to be used
3C48.par                    ; file containing the parameters for the subimage
0                            ; remove mean from Q and U spectra?
