# Configuration file for setting up the parameters for myfits_spec2rm routines.
../DATA/                     ; PATH to DATA
MY_CASA.QCL001.1.FITSCUBE    ; Q-FITS cube
MY_CASA.UCL001.1.FITSCUBE    ; U-FITS cube
TEST                         ; outfile name (generic, with NO extension, several files will be written)
y                            ; whether an apriori list of bad channels is to be used for rejection? (y/n)
gmrt_casa_17078.burdies      ; file containing the list of BAD CHANNELS
y                            ; whether a subsection of the image is to be used for tomography? (y/n)
CASA.par                     ; file containing the parameters for the subimage
y                            ; whether extraction to be done for the entire unaliased range of freq components? (y/n)
50.0   10                    ; beg-RM(real), nrm_out(integer)
