# parfile to be used for pair_points_fits_images.f code
/home/wasim/Desktop/CURR_DEVEL/IAU_BEIJING/WORK/       ; path to in-data 
MY_CASA.ICL001.1.RLCOR.FITSCUBE.RMS.FITS               ; image-1
MY_CASA.ICL001.1.RLCOR.FITSCUBE.MEAN.FITS              ; image-2
-1000.                                                 ; threshold in image 2 
SCATTER                                                ; OPTYPE 
/home/wasim/Desktop/CURR_DEVEL/IAU_BEIJING/WORK/RM_0/  ; path to in-data 
MY_CASA.RLC                                            ; outname 
SCATTER_RMS_I                                          ; outclass 
