# Configuration file for cube_stat.f routines.
/media/GMRT_CASA/DATA/POLCAL/IMAGES/RM_CUBES/ ; PATH to DATA
MY_CASA.RLCOR.2.RMCUBE  ; MY_CASA_meanQU_removed.RLCOR.RMCUBE    ; RM-FITS cube
MY_CASA.RM.RLCOR.2  ; MY_CASA_meanQU_removed.RLCOR           ; outfile name (generic, with NO extension, several files will be written)
n                       ; whether an apriori list of bad RM-channels is to be used for rejection? (y/n)
reject_rm.txt           ; file containing the list of BAD CHANNELS
n                       ; whether subimage of image to be used 
CASA.par                ; file containing the parameters for the subimage
